body {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

body a,
body a:hover {
  color: white;
}

.app-loader {
  position: fixed;
  z-index: 999;
  height: 8rem !important;
  width: 8rem !important;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* .list-group-item.active {
  z-index: 2;
  color: #383d41 !important;
  background-color: #d6d8db !important;
  border-color: transparent !important;
} */